.close-dialog-btn {
    right: 37px;
    top: 17px;
    font-size: 2rem;
    color: #95a2c4;
    position: absolute;
    cursor: pointer;
}

.close-dialog-btn:hover {
    color: #f9f9fb;
}

.card {
    background-color: #f9f9fb;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    transition: all 0.3s ease;

    p {
        color: #374174
    }

    img {
        width: 100%;
        border-radius: 10px;
    }

    &:hover {
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
        background: #cdd2de;
        cursor: pointer;
    }

    &.active {
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
        background: #fff4e7;
    }
}