@if(user$ | async; as user) {
<div class="row mb-3 justify-content-center">
    <h1 class="fs-3 mb-3 col-12 col-xl-12 col-xxl-10">Dashboard</h1>

    <div class="col-12 col-xl-12 col-xxl-10">
        <div style="border: 0;
        background: #f3f3f3;
        border-radius: 11px;" class="card">
            <div class="card-body px-3">
                <!-- <h5>Statistiques</h5> -->
                <h2 class="fs-6">Qu'avez-vous accompli ?</h2>
                <ui-stat-circle [value]="(user$ | async)?.prompts?.length!" [max]="150" [label]="'Total'" />
            </div>
        </div>
    </div>
</div>


<div class="row section g-3 justify-content-center animate__animated animate__fadeIn">
    @if(steps$ | async; as steps) {
    <div class="col-12 col-xl-12 col-xxl-10">
        <h2 class="fs-5 mb-3">Templates</h2>
        <div class="row g-3">
            @for(step of steps; track step.id) {
            <div class="col-12 col-md-6 col-xl-4 col-xxl-3 steps-list">
                <ui-step-card [step]="step" [userHistory]="user.history?user.history:[]"></ui-step-card>
            </div>
            }
            @empty {
            <p>Si vous êtes admin,<br> ajoutez des steps et des prompts</p>
            }
        </div>
    </div>
    }
</div>


<div class="row section g-3 justify-content-center animate__animated animate__fadeIn">

    @if(categories$ | async; as categories) {
    <div class="col-12 col-xl-12 col-xxl-10">
        <h2 class="fs-5 mb-3">Catégories</h2>
        <div class="row g-3">
            @for(category of categories; track category) {
            <div class="col-12 col-md-6 col-lg-4 col-xl-3 col-xxl-2 categories-list">
                <div (click)="openDialogPromptsByCategory($event, category)" class="card">
                    <div class="card-body">{{category.title | lowercase}}</div>
                    <div class="card-footer">
                        {{ category.count_prompts }} {{pluralize( category.count_prompts,'prompt') }}
                    </div>
                </div>
            </div>
            }
            @empty {
            <p>Si vous êtes admin,<br> ajoutez des steps et des prompts</p>
            }
        </div>
    </div>
    }
</div>
}