@if(user$ | async; as user) {
<div class="row mb-3 justify-content-center">
    <h1 class="fs-3 mb-3 col-12 col-xl-12 col-xxl-10">Dashboard</h1>

    <div class="col-12 col-xl-12 col-xxl-10">
        <div style="border: 0;
        background: #eff6f8;
        border-radius: 11px;" class="card">
            <div class="card-body px-3">
                <!-- <h5>Statistiques</h5> -->
                <h2 class="fs-5 mb-0">Qu'as-tu accompli ?</h2>
                <p class="content-subtitle subtitle-bis m-0">Tes statistiques de croissance réalisée</p>
                <ui-stat-circle [visibleStepPromptsTotalCount]="visibleStepPromptsTotalCount"
                    [completedStepPromptsTotalCount]="completedStepPromptsTotalCount"
                    [value]="(user$ | async)?.prompts?.length!" [max]="(countTotalPrompts$ | async)??0"
                    [label]="'Total'" />
            </div>
        </div>
    </div>
</div>


<!-- PLANS CARDS -->
<div class="row mt-4 mb-2 justify-content-center animate__animated animate__fadeIn">
    <div class="col-12 col-xl-12 col-xxl-10">
        <h2 class="fs-5 mb-2">Accèdes à ton plan</h2>
        <div class="row g-5">

            @if(plans$ | async; as plans) {
            @for(plan of plans; track plan.id) {
            <!-- <pre>{{plan | json}}</pre> -->
            @if(plan.isVisible) {
            <div class="col-12 col-md-6 col-lg-4">
                <div style="border-radius: 7px; position: relative;"
                    class="card plan-card d-flex justify-content-center border-0">
                    <img style="width: 100%; height: 100%; border-radius: 5px;" [src]="getPlanImage(plan)" alt="">
                    <div class="card-body">
                        <h2 class="fs-5 mb-0 text-center">{{plan.title}}</h2>
                        <div [innerHTML]="plan.description" class="row g-3 text-center"></div>
                    </div>
                    @if(!isUserHasPlan(plan)) {
                    <div style="background: rgba(25,50,75,0.6); position: absolute; top:0; left: 0; width: 100%; height: 100%; border-radius:7px"
                        class="overlay-cadenas">
                        <div class="d-flex justify-content-center align-items-center h-50">
                            <!-- <img style="width:50%" src="/assets/images/cadenas.svg"> -->
                            <i style="font-size: 5rem;color:bisque" class="bi bi-lock"></i>
                        </div>
                    </div>
                    }

                </div>
            </div>
            }
            }
            @empty {
            <p>Si vous êtes admin,<br> ajoutez des plans</p>
            }
            }
        </div>
    </div>
</div>


<div class="row section g-3 justify-content-center animate__animated animate__fadeIn">
    @if(steps$ | async; as steps) {
    <div class="col-12 col-xl-12 col-xxl-10">
        <h2 class="fs-5 mb-0">Stratégies de croissance</h2>
        <h3 class="fs-6 mb-2 subtitle subtitle-bis">Fondamentaux étape-par-étape pour 10X</h3>
        <div class="row g-4">
            @for(step of steps; track step.id) {
            <div class="col-12 col-md-6 col-xl-4 steps-list">
                <ui-step-card [step]="step" [userHistory]="user.history?user.history:[]"></ui-step-card>
            </div>
            }
            @empty {
            <p>Si vous êtes admin,<br> ajoutez des steps et des prompts</p>
            }
        </div>
    </div>
    }
</div>


<div class="row section g-3 justify-content-center animate__animated animate__fadeIn">

    @if(categories$ | async; as categories) {
    <div class="col-12 col-xl-12 col-xxl-10">
        <h2 class="fs-4 mb-0">Catalyseur de conversion</h2>
        <h3 class="fs-6 mb-4 subtitle subtitle-bis">Action rapide par thématique business</h3>
        <div class="row g-3">
            @for(category of categories; track category) {
            <div class="col-6 col-md-6 col-lg-4 col-xxl-3 categories-list">
                <app-ui-category-card (click)="openDialogPromptsByCategory($event, category)" [title]="category.title"
                    [icon]="category.imageUrl" [promptcount]="category.count_prompts"></app-ui-category-card>
            </div>
            }
            @empty {
            <p>Si vous êtes admin,<br> ajoutez des steps et des prompts</p>
            }
        </div>
    </div>
    }
</div>
}