<div class="mb-4 d-flex justify-content-between">
    <span class="title">
        <h2>Gérer les steps</h2>
    </span>
    <div class="d-flex justify-content-end">
        <button (click)="openDialogCategories()" class="btn btn-sm btn-secondary">Catégories</button>
        <button class="btn btn-sm btn-primary ms-2 btn-icon" (click)="openDialogCreateStep()">
            <i class="bi bi-plus"></i>
            Ajouter
        </button>
    </div>
</div>

@if(stepsAdmin$ | async; as stepsAdmin) {
<table class="table table-sm table-hover">
    <thead class="table-light">
        <tr>
            <th>#</th>
            <th style="width: 10%;">Titre</th>
            <!-- <th>Sous-titre</th> -->
            <th>Variables</th>
            <th style="width: 50%;">Prompts</th>
            <th style="text-align: center">Plan</th>
            <th style="width: 60px;text-align:center">Actions</th>
        </tr>
    </thead>
    <tbody>
        @for(step of stepsAdmin; track step.id) {
        <tr (click)="openDialogUpdateStep($event, step)">
            <th>
                @if(step.isVisible) { <i class="bi bi-eye-fill"></i> }
                @else { <i class="bi bi-eye-slash"></i> }
                {{step.id}}
            </th>
            <td>{{step.title}}</td>
            <!-- <td>{{step.subtitle}}</td> -->
            <td>
                <!-- step > user Variables -->
                <div class="d-inline-flex flex-column">
                    @if(!step.variables.length) {
                    <a (click)="openDialogCreateUserFormVariables($event, step)" class="link">Ajouter</a>
                    }
                    @else {
                    @for(userVariables of step.variables; track userVariables) {
                    <span (click)="openDialogUpdateUserFormVariables($event, step)"
                        class="badge badge-sm text-bg-secondary"
                        style="background: #4f647b !important;">{{userVariables.key}}</span>
                    }
                    }
                </div>
            </td>
            <td>
                <!-- step > prompts -->
                <div class="d-inline-flex flex-column w-100">
                    @if(!step.prompts.length) {
                    <a (click)="openDialogCreatePrompt($event, step)" class="link">Ajouter</a>
                    }
                    @else {
                    @for(prompt of step.prompts; track prompt) {
                    <div class="row gx-4">
                        <span (click)="openDialogUpdatePrompt($event, step)"
                            style="text-wrap: balance;background:#1c3856 !important;"
                            class="badge fw-400 text-bg-dark my-1 col-8">{{prompt.title}}
                        </span>
                        @if(prompt.category) {
                        <span (click)="openSelectCategoryDialog($event, prompt)" style="border-radius: 50px;
                            background: #d9ecff !important;
                            color: #0d6efd !important;"
                            class="badge ps-3 pe-1 col-4 align-self-center d-flex justify-content-between align-items-center">
                            <span>{{prompt.category.title}}</span>
                            <i (click)="dissociateCategory($event, prompt)" class="bi bi-x fs-5"></i>
                        </span>
                        }
                        @else {
                        <button (click)="openSelectCategoryDialog($event, prompt)" class="btn btn-sm btn-link col-4">
                            Choisir une categorie
                        </button>
                        }
                    </div>
                    }
                    }
                </div>
            </td>
            <td style="text-align: center;">
                <!-- step > plan -->
                <div class="d-inline-flex flex-column">
                    @if(step.plans.length) {
                    @for(plan of step.plans; track plan) {
                    <span (click)="openDialogSelectPlan($event, step)"
                        class="badge badge-sm text-center text-bg-primary">{{plan.title}}</span>
                    }
                    }
                    @else {
                    <button (click)="openDialogSelectPlan($event, step)" class="btn btn-sm btn-light py-0">
                        <i class="bi bi-plus"></i> Plan
                    </button>
                    }
                </div>
            </td>
            <td style="text-align:center">
                <button (click)="deleteStepAction($event,step)" class="btn btn-sm btn-secondatry"><i
                        class="bi bi-trash"></i></button>
            </td>
        </tr>
        }
    </tbody>
</table>
}