<h3 class="fs-5">Créer des prompts</h3>
<i (click)="closeDialog()" class="bi bi-x-lg close-dialog-btn"></i>
<!-- <pre>{{data | json}}</pre> -->
@if(data.variables?.length) {
<p class="text-secondary info-text">
    <i class="bi bi-info-circle-fill text-primary"></i>Variables disponibles<br>
    @for(userVar of data.variables; track userVar) {
    <span style="font-weight: 400; font-size: 14px; margin-right: 3px;"
        class="badge bg-primary text-light">{{userVar.key}}</span>
    }
</p>
}
@else {
<p class="text-secondary info-text">
    <i class="bi bi-info-circle-fill text-primary"></i>
    Pas de variables disponibles
</p>
}

<hr>

<form (ngSubmit)="onSubmit()" [formGroup]="createPromptsForm">
    <mat-dialog-content>
        <div formArrayName="prompts" *ngFor="let item of formPrompts.controls; let i = index; let c = count">

            <!-- LIGNE D'UN PROMPT-->
            <div class="line row mb-4" [formGroupName]="i">
                <div class="py-3 col-1 d-flex flex-column align-items-baseline justify-content-between">
                    <button type="button" class="btn btn-link fs-3 p-0 m-0 text-secondary" (click)="removePromptItem(i)"
                        title="Supprimer le prompt">
                        <i class="bi bi-x"></i>
                    </button>
                </div>
                <div class="col-11">
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label for="title">Titre*</label>
                                <input type="text" class="form-control" id="title" formControlName="title">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label for="secretPrompt">Prompt secret*</label>
                                <textarea class="form-control" id="secretPrompt"
                                    formControlName="secretprompt"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- End formGroupName="i" -->

        </div> <!-- End formArrayName="questions" -->

        <!-- BOUTON D'AJOUT LIGNE -->
        <div class="form-group d-flex justify-content-center">
            <button class="btn btn-sm btn-secondary" type="button" (click)="addPromptItem()">Ajouter un prompt</button>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <div class="col">
            <div class="d-flex justify-content-end">
                <button class="btn btn-primary">Sauvegarder</button>
            </div>
        </div>
    </mat-dialog-actions>
</form>