svg {
    width: 1.5rem;
    height: 1.5rem;
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.5rem;
    height: 3.5rem;
    border-radius: 7px;
    background-color: #eaeaea;
    position: relative;
    z-index: 999;
    width: 1.5rem;
    height: 3.5rem;
    transition: background-color 0.3s;

    &:hover {
        background-color: #c8c8c8;
        cursor: grabbing;
    }
}