<div class="stat">
    <div class="stat-figure text-secondary">
        <div class="avatar">
            <div class="w-16">
                <!-- <img src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.jpg" /> -->
                <i class="bi bi-trophy-fill fs-3" style="color: rgb(216, 216, 216); font-size: 3rem !important;"></i>
            </div>
        </div>
    </div>
    <div class="stat-value">{{ getPercatageProgression()}}%</div>
    <div class="stat-title">Prompts réalisés</div>
    <div class="stat-desc">
        {{visibleStepPromptsTotalCount - completedStepPromptsTotalCount}} prompts
        restants
    </div>
</div>