.alert-info {
    color: #604496;
    --bs-alert-bg: #e4d4f8;
    --bs-alert-border-color: #6f42c1;
}

.list-group-item {
    margin-bottom: 9px;
    border: 1px solid #aaa;
    border-radius: 7px;
    transition-duration: .3s;
}

.list-group-item.disabled,
.list-group-item:disabled {
    color: rgba(129, 135, 142, 0.75);
    pointer-events: none;
    background-color: #f7f7f7;
}

.list-group-item.disabled:hover,
.list-group-item:disabled:hover {
    background-color: #f7f7f7;
    color: rgba(129, 135, 142, 1);
}

nav .breadcrumb-item a {
    color: rgb(167 167 167)
}

nav .breadcrumb-item a:hover {
    color: rgb(79, 70, 229);
    text-decoration: none;
}