<div class="mb-4 d-flex justify-content-between">
    <span class="title">
        <h2>Paramètres</h2>
    </span>
    <div class="d-flex justify-content-end">
        <button class="btn btn-sm btn-primary ms-2 btn-icon">
            <i class="bi bi-plus"></i>
            Ajouter un provider IA
        </button>
    </div>
</div>

@if(providers$ | async; as providers) {

<!-- <pre>{{providers | json}}</pre> -->
<table class="table table-sm table-hover">
    <thead class="table-light">
        <tr>
            <th>#</th>
            <th style="width: 20%;">Provider</th>
            <th>API key</th>
            <th>API secret key</th>
            <th>Modèle</th>
            <th style="width: 60px;text-align:center">Actions</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let provider of providers">
            <!-- <pre> {{provider | json}}</pre> -->
            <td>{{provider.id}}</td>
            <td>{{provider.name}}</td>
            <td>SK****</td>
            <td>SK****</td>
            <td>
                @if(provider.name.toLowerCase().includes('openai')) {
                <select (change)="newModelSelected(provider)" class="form-control"
                    [formControl]="selectOpenaiModelControl">
                    <option *ngFor="let model of provider.iamodels" [value]="model.id">
                        {{model.name}} - {{model.release | date:'dd/MM/yyyy'}}
                    </option>
                </select>
                }
                @if(provider.name.toLowerCase().includes('claude')) {
                <select (change)="newModelSelected(provider)" class="form-control"
                    [formControl]="selectClaudeModelControl">
                    <option *ngFor="let model of provider.iamodels" [value]="model.id">
                        {{model.name}}
                    </option>
                </select>
                }
                @if(provider.name.toLowerCase().includes('gemini')) {
                <select (change)="newModelSelected(provider)" class="form-control"
                    [formControl]="selectGeminiModelControl">
                    <option *ngFor="let model of provider.iamodels" [value]="model.id">
                        {{model.name}}
                    </option>
                </select>
                }
            </td>

            <td style="text-align:center">
                <button class="btn btn-sm btn-secondary"><i class="bi bi-trash"></i></button>
            </td>
        </tr>
    </tbody>
</table>

<!-- choice provider-->
<h3 class="fs-6 my-2">Choisir un provider IA</h3>
<mat-radio-group [formControl]="radioChooseProviderControl" aria-label="Select an option">
    <mat-radio-button *ngFor="let provider of providers" [value]="provider.id">{{provider.name}}</mat-radio-button>
</mat-radio-group>


}