:host {
    display: block;
    background: #fff;
    border-radius: 8px;
    padding: 8px 16px 16px;
}

.alert {
    margin-top: 0.5rem;
    padding: 0.5rem;
    font-size: 0.925rem;
}

input {
    margin: 8px 0;
}

button+button {
    margin-left: 8px;
}