@if(step) {
<!-- 1 HEADER-->
<ui-header-prompt-view [step]="step" [promptsToDisplay]="promptsList" />

<div class="row">
    <!-- 2 CONVERSATION VIEW -->
    <div *ngIf="step" class="col-12 col-md-9">
        @for(conv of conversationSate.items; track conv.promptId) {
        @if(conv.checked || conv.iaResponse.text.length || conv.nextItem) {
        <ui-conversation-user [prompt]="conv.userQuestion" [isLoadingResponse]="conv.isLoadingResponse" />
        }
        <ui-conversation-ia [responseAI]="conv.iaResponse" [isLoadingResponse]="conv.isLoadingResponse" />
        }
    </div>

    <!-- 3 PROMPT LIST -->
    <div class="col-12 col-md-3">
        @if(step) {
        <ul class="prompt-list list-group animate__animated animate__fadeIn">
            @for(conv of conversationSate.items; track conv.promptId) {
            <button [disabled]="!conv.checked && !conv.iaResponse.text.trim() && !conv.nextItem"
                class="list-group-item list-group-item-action fade show align-items-center d-flex"
                [class.active]="conv.promptId === selectedPrompt?.id" (click)="selectPrompt(conv.userQuestion)"
                [routerLink]='"."' [fragment]="'prompt'+selectedPrompt?.id">
                <!-- <i [class.statusOk]="conv.iaResponse.text.trim()!=''"
                    class="bi bi-check-circle-fill spinner-border fs-5 me-1"></i> -->
                <i [class.statusOk]="conv.iaResponse.text.trim()!=''" class="spinner-border me-1"></i>

                <span>{{conv.userQuestion.title}}</span>
            </button>
            }
        </ul>
        }
    </div>
</div>

<!-- 4 TOOLBAR -->
<ui-toolbar-prompt-view />
}