@if(step) {
<!-- 1 HEADER-->
<ui-header-prompt-view [countPromptsChecked]="countPromptsChecked" [step]="step" [promptsToDisplay]="promptsList" />

<div class="row sticky">
    <!-- 2 CONVERSATION VIEW -->
    <div style="margin-top:-9px" *ngIf="step" class="col-12 col-xl-9">
        <!-- @for(it of conversationSate.items; track it.iaResponse) {
        <pre>{{it | json}}</pre>
        } -->
        @for(conv of conversationSate.items; track conv.promptId) {
        @if(conv.checked || conv.iaResponse.text.length || conv.nextItem) {
        <ui-conversation-user [user]="user" [prompt]="conv.userQuestion" [isChecked]="conv.checked"
            [isLoadingResponse]="conv.isLoadingResponse" [loadingGeneral]="loadingGeneral"
            (refreshPromptEvent)="selectPrompt(conv.userQuestion)" />
        }
        <ui-conversation-ia [responseAI]="conv.iaResponse" [isLoadingResponse]="conv.isLoadingResponse" />
        }
    </div>

    <!-- 3 PROMPT LIST -->
    <div class="col-12 col-xl-3 d-none d-xl-block">
        @if(step) {
        <ul class="prompt-list list-group animate__animated animate__fadeIn">
            @for(conv of conversationSate.items; track conv.promptId) {
            <button (click)="selectPrompt(conv.userQuestion)"
                [disabled]="!conv.checked && !conv.iaResponse.text.trim() && !conv.nextItem"
                [class.clickable]="!conv.checked && conv.nextItem"
                class="list-group-item list-group-item-action fade show align-items-center d-flex"
                [class.active]="conv.promptId === selectedPrompt?.id" [routerLink]='"."'
                [fragment]="'prompt'+selectedPrompt?.id">
                @if(!conv.checked && conv.nextItem){
                <i [class.statusOk]="conv.iaResponse.text.trim()!=''" style="font-size: 1.2rem;
                padding-right: 6px;
                color: #3c3c3c;" class="bi bi-chevron-right"></i>
                }
                @else {
                <i [class.statusOk]="conv.iaResponse.text.trim()!=''" style="font-size: 1.15rem;padding-right: 2px;"
                    class="bi bi-check-circle-fill me-1"></i>

                }
                <span>{{conv.userQuestion.title}}</span>
                <p-progressBar [style.opacity]="conv.isLoadingResponse&&loadingGeneral?0.5:0" mode="indeterminate"
                    [style]="{ height: '3px',color:'#2c2b40' }"></p-progressBar>
            </button>
            }
            <button (click)="openVariablesModal(user)"
                class="btn btn-sm btn-success text-underline ms-3 relaunch-conversation-new-variables">
                <span>Relancer une nouvelle conversation</span>
                <i class="bi bi-arrow-right ms-3"></i>
            </button>
        </ul>
        }
    </div>
</div>

<!-- 4 TOOLBAR -->
<!-- <ui-toolbar-prompt-view /> -->

<!-- 5 SCROLL to TOP -->
<!-- <p-scrollTop></p-scrollTop> -->
<p-scrollTop styleClass="custom-scrolltop" [threshold]="200"></p-scrollTop>
}