<!-- 1 HEADER-->
<div class="row mb-3">
    <div style="transform: translateY(-10px);" class="d-flex align-items-center">
        <a class="btn btn-link fs-3 btn-back" (click)="goBack()"><i class="bi bi-arrow-left"></i></a>
        <nav aria-label="breadcrumb ms-3">
            <ol class="breadcrumb m-0">
                @if(prompt; as prompt) {
                <li class="breadcrumb-item active" aria-current="page">{{prompt.title}}</li>
                }
            </ol>
        </nav>
    </div>
</div>

<div class="row">

    <!-- 3 PROMPT LIST -->
    <div class="col-12 col-md-6 col-lg-5 col-xl-4 form-space order-1">
        <div style="position: sticky;top:0; background: aliceblue; border-radius: 8px;">
            @if(variables.length && stepId) {
            <ui-unique-prompt-variables-form (formValidEvent)="formValidAction($event)" [stepId]="stepId"
                [variables]="variables" [user_variables]="user_variables"></ui-unique-prompt-variables-form>
            }
        </div>
    </div>

    <!-- 2 CONVERSATION VIEW -->
    <div style="margin-top:-20px" class="col-12 col-md-6 col-lg-7 col-xl-8">
        @if(user) {
        <ui-conversation-user [user]="user" [prompt]="prompt" [isChecked]="false"
            [isLoadingResponse]="viewState.loadingIaResponse" [loadingGeneral]="viewState.loadingIaResponse"
            (refreshPromptEvent)="selectPrompt(prompt)" />
        }

        <ui-conversation-ia [responseAI]="ia_response" [isLoadingResponse]="viewState.loadingIaResponse" />

    </div>

</div>