:host {
    width: 100%;
}

.alert {
    border-left: 3px solid orange !important;
}

h2 {
    margin-bottom: 20px;
    letter-spacing: -0.5px;
}

@media (min-width: 768px) {
    :host {
        width: 100%;
    }
}

@media (min-width: 992px) {
    :host {
        width: 60%;
    }
}

@media (min-width: 1600px) {
    :host {
        width: 40%;
    }
}