<ui-navbar title="Ai App"></ui-navbar>
<div style="position:fixed; top:46px" class="container-fluid">
    <div class="row">

        <!-- sidebar-->
        <div class="col-12 col-md-4 col-lg-3 col-xxl-2 p-0">
            <ui-sidebar></ui-sidebar>
        </div>

        <!-- content app-->
        @if( isMenuOpened$ | async; as isMenuOpened) {
        <div style="overflow-y: scroll;height: calc(100vh - 46px);" class="col-12 col-md-8 col-lg-9 col-xxl-10">
            <div class="container-fluid py-3">
                <router-outlet></router-outlet>
            </div>
        </div>
        }
        @else {
        <div class="col-12" style="overflow-y: scroll;height: calc(100vh - 46px);">
            <div class="container-fluid py-3">
                <router-outlet></router-outlet>
            </div>
        </div>
        }

    </div>
</div>