@if(step) {
<!-- 1 HEADER-->
<div class="row mb-3">

    @if(urlNavigateToPromptView[0]==='/dashboard/step') {
    <ui-breadcrumb-dashboard [step]="step"></ui-breadcrumb-dashboard>
    }
    @else if(urlNavigateToPromptView[0].includes('/programme')) {
    <ui-breadcrumb-programme [step]="step"></ui-breadcrumb-programme>
    }


    <div class="col-md-12">
        <div style="background: #19213b;
        color: aliceblue;
        border-radius: 9px;" class="card">
            <div class="card-body">
                <h2 class="fs-4">{{step.subtitle}}</h2>
                <p style="background: #40619f" class="fs-6 badge badge-success">{{step.prompts.length}} prompts</p>
                @if(step.desc) {
                <div class="description" [innerHTML]="step.desc"></div>
                }
            </div>
        </div>
    </div>
</div>
}