@if(step) {
<!-- 1 HEADER-->
<div class="row mb-3">
    <div style="transform: translateY(-10px);" class="d-flex align-items-center">
        <a class="btn btn-link fs-3 btn-back" (click)="goBack()"><i class="bi bi-arrow-left"></i></a>
        <nav aria-label="breadcrumb ms-3">
            <ol class="breadcrumb m-0">
                <li class="breadcrumb-item"><a [routerLink]="['/dashboard']">Dashboard</a></li>
                <li class="breadcrumb-item"><a [routerLink]="['/dashboard/step', step.id]">{{step.subtitle}}</a></li>
                @if(promptsToDisplay[0]; as prompt) {
                <li class="breadcrumb-item active" aria-current="page">{{prompt.title}}</li>
                }
            </ol>
        </nav>
    </div>

    <div class="col-md-12">
        <div style="background: #19213b;
        color: aliceblue;
        border-radius: 9px;" class="card">
            <div class="card-body">
                <h2 class="fs-4">{{step.subtitle}}</h2>
                <p style="background: #40619f" class="fs-6 badge badge-success">{{step.prompts.length}} prompts</p>
                @if(step.desc) {
                <p [innerHTML]="step.desc"></p>
                }
            </div>
        </div>
    </div>
</div>
}