<div class="row px-3">
    <div class="col">
        <div style="background:transparent;" class="row align-items-center">

            <div style="background: transparent;"
                class="card flex justify-content-center col border-0 align-items-center">
                <div class="card-header">
                    <p class="card-title">Total</p>
                </div>
                <div class="card-body">
                    <p-knob valueTemplate="{value}/53" [size]="115" [(ngModel)]="value" [readonly]="true"
                        valueColor="MediumTurquoise" rangeColor="LightGray" />
                </div>
            </div>

            @if(categories$ | async; as categoriesWithDoneCount) {
            @for(category of categoriesWithDoneCount; track category.id ) {
            <div style="background: transparent;"
                class="card flex justify-content-center col border-0 align-items-center">
                <div class="card-header">
                    <p class="card-title">{{truncate(category.title)}}</p>
                </div>
                <div class="card-body">
                    <p-knob [size]="65" [(ngModel)]="category.count_done_prompts" [max]="category.count_prompts"
                        [readonly]="true" valueColor="goldenrod" rangeColor="LightGray" />
                </div>
            </div>
            }
            }
        </div>

    </div>
    <div class="col">

    </div>
</div>