.card-header {
    text-align: center;
    background-color: transparent;
    padding: 0;
    border-bottom: none;
}

.card-title {
    color: #697393;
    margin: -6px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: .82rem;
}

.card-body {
    padding: 5px;

}

/** UI Stat task */
.stat {
    display: inline-grid;
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 1rem;
    padding: 1rem 1.5rem;
    background: #fff;
    border-radius: 11px;
    border: 1px solid rgb(199, 199, 199);
}

.stat-figure {
    grid-column-start: 2;
    grid-row: span 3 / span 3;
    grid-row-start: 1;
    place-self: center;
    justify-self: end;

    .avatar {
        position: relative;
        display: inline-flex;
    }

    .avatar.online:before {
        content: "";
        content: "";
        position: absolute;
        z-index: 10;
        display: block;
        border-radius: 9999px;
        --tw-bg-opacity: 1;
        background-color: #28ad28;
        outline-style: solid;
        outline-width: 2px;
        outline-color: #08a308;
        width: 15%;
        height: 15%;
        top: 7%;
        right: 7%;
    }
}

.avatar>div {
    display: block;
    aspect-ratio: 1 / 1;
    overflow: hidden;
}

.rounded-full {
    border-radius: 9999px;
}

.w-16 {
    width: 4rem;
}

.avatar img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.stat-value {
    grid-column-start: 1;
    white-space: nowrap;
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-weight: 800;
}

.stat-title {
    grid-column-start: 1;
    white-space: nowrap;
    color: #1f293799
}

.text-secondary {
    --tw-text-opacity: 1;
    color: #ff00d3;
}

.stat-desc {
    grid-column-start: 1;
    white-space: nowrap;
    font-size: 0.8rem;
    line-height: 1rem;
    /* color: rgb(74 33 204) !important; */
    color: #000324;
    font-weight: bold;
}