<div class="row px-3 align-items-end">
    <div class="col-12 col-xl-6">
        <div style="background:transparent;" class="row align-items-center">

            <div style="background: transparent;"
                class="card flex justify-content-center col border-0 align-items-center">
                <div class="card-header">
                    <p class="card-title">Total</p>
                </div>
                <div class="card-body">
                    <p-knob valueTemplate="{value}/{{max}}" [size]="115" [max]="max" [(ngModel)]="value"
                        [strokeWidth]="5" [readonly]="true" valueColor="#ff7f50" rangeColor="LightGray" />
                </div>
            </div>

            @if(categoriesWithDoneCount) {
            @for(category of categoriesWithDoneCount; track category.id ) {
            <div style="background: transparent;"
                class="card flex justify-content-center col border-0 align-items-center">
                <div class="card-header">
                    <p class="card-title">{{truncate(category.title)}}</p>
                </div>
                <div class="card-body">
                    <p-knob [size]="65" [(ngModel)]="category.count_done_prompts" [max]="category.count_prompts"
                        [readonly]="true" valueColor="#39385c" rangeColor="#d3d3d3" />
                </div>
            </div>
            }
            }
        </div>

    </div>
    <div class="col-12 col-xl-6">
        <div class="row">
            <div class="col-6">
                <h3 class="fs-5 text-center">Stratégies</h3>
                <ui-stat-task [visibleStepPromptsTotalCount]="visibleStepPromptsTotalCount"
                    [completedStepPromptsTotalCount]="completedStepPromptsTotalCount"></ui-stat-task>
            </div>
            <div class="col-6">
                @if(user$ | async; as user) {
                <h3 class="fs-5 text-center opacity-50">Hello {{(user$ | async)?.firstname}}</h3>
                <div style="background: #eff6f8;border: 0;" class="stat">
                    <div class="stat-figure text-secondary">
                        <div class="avatar online">
                            <div class="w-16 rounded-full">
                                <img style="background: #ff7f50"
                                    [src]="'https://api.dicebear.com/8.x/adventurer/svg?seed='+user.firstname" />
                            </div>
                        </div>
                    </div>
                    <div class="stat-title" style="text-wrap:wrap; color: #111">Modifiez vos paramètres si besoin</div>
                    <div class="stat-desc text-secondary">
                        <a style="text-decoration: underline; color:#ff7f50 " [routerLink]="['/user/settings']">Voir vos
                            paramètres</a>
                    </div>
                </div>

                }
            </div>
        </div>
    </div>
</div>