.card-header {
    text-align: center;
    background-color: transparent;
    padding: 0;
    border-bottom: none;
}

.card-title {
    color: #a6a6a6;
    margin: -6px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: .82rem;
}

.card-body {
    padding: 5px;

}