<div [routerLink]="['../step', step.id]" class="card">
    <div style="position:relative;min-height: 231px;" class="card-body">

        <p>{{step.title}}</p>
        <h6>{{step.subtitle}}</h6>
        <div class="step-desc" [innerHTML]="step.desc"></div>
        <!-- <pre>2/{{step.prompts.length}} prompts</pre> -->
        <p-meterGroup [style]="{'position':'absolute', 'width':'50%', 'bottom':'5px'}" [value]="value">
            <ng-template pTemplate="label">
                <ng-container *ngFor="let meterItem of value; let index = index">
                    <span style="font-size: 13px;" class="font-bold d-flex justify-content-between">
                        <span>{{ completedStepPrompts }}/{{step.prompts.length}} étapes</span>
                        <i class="bi bi-trophy-fill fs-6"
                            [style.color]="value[0].value===100 ? '#c9a40e' : '#d8d8d8'"></i>
                    </span>
                </ng-container>
            </ng-template>
        </p-meterGroup>

    </div>
</div>