.card {
    background: #f4f5f7;
    transition-duration: 0.2s;
    height: 100%;
    border-right: 5px solid #cccfd3;
    border-bottom: 5px solid #cccfd3;
    border-radius: 5px;
}

.card:hover {
    background: #ffffff;
    transform: scale(1.03);
    cursor: pointer;
}

.step-desc {
    -webkit-line-clamp: 2;
    overflow: hidden;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    font-size: 15px;
    margin-bottom: 15px;
}

.card-body strong {
    font-weight: normal !important;
}