.card {
    background: #1c294e;
    transition-duration: 0.2s;
    height: 100%;
    border-right: 5px solid #6381ad;
    border-bottom: 5px solid #6381ad;
    border-radius: 5px;
    color: #e7ecf1;
    font-size: .9rem;
}

.card:hover {
    background: #19213b;
    transform: scale(1.03);
    cursor: pointer;
}

.step-desc {
    -webkit-line-clamp: 3;
    overflow: hidden;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    font-size: 15px;
    margin-bottom: 15px;
    opacity: .7;
}

.card-body strong {
    font-weight: normal !important;
}