.cdk-overlay-container {
    z-index: 999999 !important;
}

mat-snack-bar-container {
    transform: scale(0.95) !important;
}

.mat-mdc-button .mdc-button__label {
    font-size: .9rem !important;
    font-weight: 400 !important;
    opacity: .6 !important;
}

.mat-mdc-snack-bar-container {
    margin: 35px !important;
    position: static;
    z-index: 999999;
}

.mat-mdc-snack-bar-container .mdc-snackbar__label {
    --mdc-snackbar-supporting-text-size: 14px;
    padding-top: 12px;
    padding-bottom: 12px;

}

.success-snackbar {
    --mdc-snackbar-container-color: #239075;
    --mdc-snackbar-supporting-text-color: rgba(255, 255, 255, 0.80) !important;
    --mat-snack-bar-button-color: #8ae2cc !important;
    // white-space: pre-wrap
}

.error-snackbar {
    --mdc-snackbar-container-color: #8f1a51;
    --mat-mdc-button: rgba(255, 255, 255, 0.80) !important;
    --mat-snack-bar-button-color: #d97bb5 !important;
}

.info-snackbar {
    --mdc-snackbar-container-color: #202a37;
    --mat-mdc-button: black !important;
    --mdc-snackbar-supporting-text-color: rgb(185, 208, 226) !important;
    --mat-snack-bar-button-color: #ffffff !important;

}

.showbar {
    z-index: 999999;
}