@if(isMenuOpened$ | async; as isMenuOpened) {
<div class="d-flex flex-column flex-shrink-0 p-3 bg-body-tertiary sidebar-left">

    <!-- <a href="/" class="d-flex align-items-center mb-2 mb-md-0 link-body-emphasis text-decoration-none">
        <p class="text-center mb-0"><strong>Hello</strong>
            <span *ngIf="(authUser$ | async) as authUser">, {{ authUser.firstname}}</span>
        </p>
    </a>

    <hr> -->


    <ul class="nav nav-pills flex-column">
        <li class="nav-item">
            <a routerLink="/dashboard" class="nav-link active" routerLinkActive="active">
                <i style="color: #fff; opacity: 1;" class="bi bi-house"></i>
                <span style="font-size: 1.01rem;">Accueil</span>
            </a>
        </li>
        <li class="nav-item">
            <a routerLink="/onboarding-videos" class="nav-link" routerLinkActive="active">
                <i style="color: #fff; opacity: 1;" class="bi bi-card-list"></i>
                <span style="font-size: 1.01rem; color: #b2b2b2;">Bien démarrer</span>
            </a>
        </li>
    </ul>

    <h2>
        <!-- <i class="bi bi-card-list"></i> -->
        <span>Programmes</span>
    </h2>

    <ul class="nav nav-pills programme flex-column">

        @for(plan of plans; track plan.id) {
        @if(plan.isVisible && !plan.isPlan) {
        <li class="nav-item">
            <a [class.locked]="!isUserHasPlan(plan)" [routerLink]="['/programme', plan.slug]" class="nav-link"
                routerLinkActive="active" style="position:relative">
                <i style="opacity: 1;" class="bi bi-mortarboard-fill"></i>
                <span>{{plan.title}}</span>
                @if(!isUserHasPlan(plan)) {
                <i class="bi bi-lock-fill" style="font-size: 1.5rem;
                    color: #c6804f;
                    opacity: 1;
                    position: absolute;
                    right: -7px;
                    top: 1px;"></i>
                }
            </a>
        </li>
        }
        }


    </ul>


    @if(user$ | async; as user) {
    <div class="mb-auto" style="background-color: transparent; margin-top: 8px;">
        @if(userPromptsHistory && userPromptsHistory.length > 0) {
        <h2><span>Historique</span></h2>
        <!-- <p-accordion [activeIndex]="0"> -->
        <p-accordion>
            @for(step of userPromptsHistory; track step.step_id) {
            <p-accordionTab [header]="step.step_title">
                <ul class="nav nav-pills flex-column mb-auto" style="padding: 0; list-style: none;">
                    @for(prompt of step.prompts; track prompt.prompt_id) {
                    <li class="nav-item ps-1">
                        <!-- [routerLink]="['/dashboard/step/', prompt.step_id, 'prompt']" -->
                        <a [routerLink]="['/dashboard/step/',step.step_id, 'prompt']" style="position: relative;"
                            class="nav-link accordion-item link-body-emphasis d-flex align-items-center">
                            <span>{{prompt.prompt_title}}</span>
                            <i #iconStar (mouseover)="starMouseOver(iconStar)" (mouseout)="starMouseOut(iconStar)"
                                style="position: absolute;right: -12px;font-size: 1.1rem;top: 4px;"
                                class="bi bi-star"></i>
                        </a>
                    </li>
                    }
                </ul>
            </p-accordionTab>
            }
        </p-accordion>
        }
    </div>
    }


    <hr>
    <div>
        <a style="color:#b2b2b2 !important" href="https://www.linkedin.com/in/flossignol/" target="_blank"
            class="d-flex align-items-center link-body-emphasis text-decoration-none">
            <!-- <img src="https://media.licdn.com/dms/image/D4E03AQEPXRDowJfPhQ/profile-displayphoto-shrink_400_400/0/1715221255448?e=1721260800&v=beta&t=UQhZmi7Gy-jxWE7fxsA99KLv44CIh1gLHiVNkrGCmwo"
                alt="" width="32" height="32" class="rounded-circle me-2"> -->
            <small>Propulser ©2024</small>
        </a>

    </div>
</div>
}