<div class="d-flex flex-column flex-shrink-0 p-3 bg-body-tertiary sidebar-left">

    <a href="/"
        class="d-flex align-items-center justify-content-center mb-2 mb-md-0 link-body-emphasis text-decoration-none">
        <h3 class="text-center fs-6 mb-0">Hello,
            <span *ngIf="(user$ | async) as user">{{user.firstname}} {{user.lastname}}</span>
        </h3>
    </a>

    <hr>

    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
            <a class="nav-link active">
                <i class="bi bi-house"></i>
                <span>Dashboard</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link link-body-emphasis">
                <i class="bi bi-card-list"></i>
                <span>Historique prompts</span>
            </a>
        </li>

    </ul>


    <hr>
    <div>
        <a href="https://www.linkedin.com/in/flossignol/" target="_blank"
            class="d-flex align-items-center link-body-emphasis text-decoration-none">
            <img src="https://media.licdn.com/dms/image/D4E03AQE0b1Bby_uWvA/profile-displayphoto-shrink_800_800/0/1704468513751?e=1718841600&v=beta&t=5EyT73xfsYhl0ZzNSibfzfjsVjYikuUCJ7B0c2MuBAs"
                alt="" width="32" height="32" class="rounded-circle me-2">
            <small>Airskill ©2024</small>
        </a>

    </div>
</div>