@if(form) {
<div class="form-group" [formGroup]="form">
    <!-- label-->
    <label [attr.for]="question.key">
        {{question.label}}<span style="opacity: .75;" *ngIf="question.required">*</span>
    </label>

    <!-- field (input or textarea or select)-->
    <div [ngSwitch]="question.controlType">

        <input class="form-control" *ngSwitchCase="'input'" [formControlName]="question.variable_id" [id]="question.key"
            [type]="question.type">

        <textarea pInputTextarea [autoResize]="true" class="form-control" *ngSwitchCase="'textarea'"
            [formControlName]="question.variable_id" [id]="question.key"></textarea>

        <select class="form-control" [id]="question.key" *ngSwitchCase="'select'"
            [formControlName]="question.variable_id">
            <option value="">-- Selectionner --</option>
            <option *ngFor="let opt of question.selectOptions" [value]="opt.value">
                {{opt.name}}
            </option>
        </select>
    </div>

    <!-- error message under input -->
    <p class="error" *ngIf="isInvalid">Champ requis</p>
</div>

}